@media (min-width: 768px) {
  .bar {
    background-color: transparent;
    /* position: absolute; */
    z-index: 100;
    width: 100%;
    position: fixed;
  }
}


/* Contact */
.contact {
  background-image: url('../img/contacto.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}


/* Testimoniasl */
.testimonials {
  background-color: yellow;
}